{% extends 'base.html' %}
{% block title%}Products{% endblock%}

{% block content %}
    <div class="divcenter" style="width: 90%;margin-top: 2%;border: 2px white;  ">
        
        
        
        <div class="row" style="margin: 5%;margin-top: 3%;" >
        <div class="col" style="border: 2px solid green;border-radius: 10px;background-color: white; ">
            <h1 class="header" style="margin-left: 30%;">Products</h1>
            <form method="POST" class="product-register center" >
            {{ form.hidden_tag() }}
            <!-- <h1 class="h3 mb-3 font-weight-normal"style="margin: auto;text-align: center;">
                Please Create your Product
            </h1> -->
            <br>
            {{ form.product_id.label() }}
            {{ form.product_id(class="form-control", placeholder="Product Name", id="f1") }}
            
            <br>

            {{ form.create(class="btn btn-lg btn-block btn-primary") }}
            {{ form.delete(class="btn btn-lg btn-block btn-primary") }}

        </form>
    <br>
    <br>
</div>
<div class="col-1"></div>
<div class="col" style="border: 2px solid green;border-radius: 10px;background-color: white; ">
    <h1 class="header" style="margin-left: 35%;">Table</h1>
    <table class="table table-hover table-striped center" id="tableroot"  style="align-self: center;margin-top: 10px;width: 90%;margin-left: auto;
    margin-right: auto;text-align:center">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Name</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
                <tr>
                    <td>{{ item.product_id }}</td>
                    <td>
                        <button class="btn btn-outline btn-success"onclick="sel(this.id)" id="{{loop.index}}">Select</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
    <script>
        function sel(id){
            let a = parseInt(id);
            document.getElementById("f1").value = document.getElementById('tableroot').rows[a].cells[0].innerHTML;
            document.getElementById("f2").value = document.getElementById('tableroot').rows[a].cells[1].innerHTML;
        }
    </script>
    
    {% endblock %}

    
