{% extends 'base.html' %}
{% block title%}Transaction Page{% endblock%}

{% block content %}
    <h1 style="margin: 10px;">Transaction Page</h1>
    <div class="container">
        <form method="POST" class="Transaction-register" style="color:white;margin: 10px;">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal" style="margin: auto;text-align: center;">
                Enter transaction details:
            </h1>
            <br>
            {{ form.from_transaction.label() }}
            {{ form.from_transaction(class="form-control", placeholder="Transaction Name", id="f1") }}
            <br>
            {{ form.to_transaction.label() }}
            {{ form.to_transaction(class="form-control", placeholder="Transaction Name", id="f2") }}
            <br>
            {{ form.product_id.label() }}
            {{ form.product_id(class="form-control", placeholder="Product Name", id="f3") }}
            <br>
            {{ form.qty.label() }}
            {{ form.qty(class="form-control", placeholder="Amount", id="f4") }}
            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            {{ form.submit1(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
    
    <table class="table table-hover table-dark" id="tableroot"  style="align-content: center;margin-top: 10px;">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Transction Id</th>
                <th scope="col">Timestamp</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Product</th>
                <th scope="col">Qnty</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
                <tr>
                    <td>{{ item.movement_id }}</td>
                    <td>{{ item.timestamp }}</td>
                    <td>{{ item.from_location }}</td>
                    <td>{{ item.to_location }}</td>
                    <td>{{ item.product_id }}</td>
                    <td>{{ item.qty }}</td>
                    <td>
                        <button class="btn btn-outline btn-success"onclick="sel(this.id)" id="{{loop.index}}">Select</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function sel(id){
            let a = parseInt(id);
            document.getElementById("f1").value = document.getElementById('tableroot').rows[a].cells[0].innerHTML;
        }
    </script>
    
    {% endblock %}

    
