{% extends 'base.html' %}
{% block title%}Transactions{% endblock%}
{% block validation %}
{% if form.qty.errors %}
      {% for error in form.qty.errors %}
      <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
          <strong>{{error}}</strong> 
      </div>
      {% endfor %}
      {% endif %}
{%endblock%}
{% block content %}
<div class="row">
   <div class="col">  </div>
   <div class="col"> <h1 class="header" style="margin-right: 55%;">Transactions</h1> </div>
</div>
    <div class="row" style="margin-left:10px ;">
        <div class="divcenter col-md-4" style="margin-left: 2%;">
            <h2 class="header" style="">Enter details:</h2>
            <form method="POST" class="Transaction-register" >
                {{ form.hidden_tag() }}
                <!-- <h1 class="h3 mb-3 font-weight-normal" style="margin: auto;text-align: center;">
                    Enter transaction details:
                </h1> -->
                <br>
                {{ form.from_transaction.label() }}
                {{ form.from_transaction(class="form-control", placeholder="Transaction Name", id="f1") }}
                <br>
                {{ form.to_transaction.label() }}
                {{ form.to_transaction(class="form-control", placeholder="Transaction Name", id="f2") }}
                <br>
                {{ form.product_id.label() }}
                {{ form.product_id(class="form-control", placeholder="Product Name", id="f3") }}
                <br>
                {{ form.qty.label() }}
                {{ form.qty(class="form-control", placeholder="Amount", id="f4") }}
                <br>
                {{ form.create(class="btn btn-lg btn-block btn-primary") }}
                {{ form.delete(class="btn btn-lg btn-block btn-primary") }}

            </form>
        </div>
        <div class="divcenter col" style="margin-right:2%;border-color: white;">

            <table class="table table-hover table-striped" id="tableroot"  style="table-layout: fixed;align-content: center;margin: 5px;margin-top: 10px; margin-right: 10px;">
                <thead>
                    <tr>
                        <!-- Your Columns HERE -->
                        <th scope="col">Transction Id</th>
                        <th scope="col">Timestamp</th>  
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Product</th>
                        <th scope="col">Qnty</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Your rows inside the table HERE: -->
                    {% for item in items %}
                        <tr>
                            <td>{{ item.movement_id }}</td>
                            <td>{{ item.timestamp }}</td>
                            <td>{{ item.from_location }}</td>
                            <td>{{ item.to_location }}</td>
                            <td>{{ item.product_id }}</td>
                            <td>{{ item.qty }}</td>
                            <td>
                                <button class="btn btn-outline btn-success"onclick="" id="{{loop.index}}">Select</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        // let a = document.getElementById('tableroot').rows.length
        // if(a<9){
        //     for(var b = 9;b>=a;b--){
        //         var row = document.getElementById('tableroot').insertRow(a);
        //         for(var c = 0;c<7;c++){row.insertCell(c).innerHTML = " - "; }
        //     }
        // }
        
    </script>
    
{% endblock %}

    
